{% extends 'base.html' %}
{#页面标题#}
{% block title %}
我的网站
{% endblock %}
{%load comment_tags%}
{%block head_extend%}
<link rel="stylesheet" href="/static/blog/blog.css">
{% endblock %}
{%block nav_blog_active%}
active
{%endblock%}
{#页面内容#}

{%block content%}
<!--设计栅格系统，分栏显示，一共十二份，博客占8份，分类占4份，根据自己需要调整，xs表示超小屏，sm表示小屏，md表示中等屏，lg表示大屏,从小设到大，这里让超小屏时隐藏-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <div class="panel panel-default"><!--面板布局-->
                <div class="panel-heading">
                    {%block blog_list_title%} <h4>博客列表 (一共有{{page_of_blogs.paginator.count}}篇博客)</h4>
                    <!--模板嵌套，用于后面的博客细节页面-->
                    {%endblock%}
                </div>
                <div class="panel-body">
                    {% for blog in blogs %}
                    <div class="blog">
                        <h3><a href="{% url 'blog_detail' blog.pk %}">
                            {{ blog.title }}</a></h3>
                        <p class="blog_info">
                            <!--两个图标--> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>分类:<a
                                href="{%url 'blogs_with_type' blog.blog_type.pk%}">{{blog.blog_type.type_name}}</a>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>发表日期:{{blog.created_time|date:"Y-m-d"}}
                            阅读：({{ blog.get_read_num}})&nbsp;&nbsp;
                            评论:({%get_comment_count blog%})
                        </p>
                        <p> {{ blog.content |striptags|truncatechars:100|safe}}</p>

                    </div>

                    {%empty%}
                    <div class="blog">
                        <h3>暂无博客敬请期待</h3>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="page" align="center">

                <ul class="pagination">
                    <li>
                        {%if page_of_blogs.has_previous%}
                        <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        {% else %}
                        <span aria-hidden="true">&laquo;</span>
                        {% endif %}

                    </li>
                    {%for page_num in page_range%}
                     {% if page_num == page_of_blogs.number%}
                    <li class="active"><span>{{page_num}}</span></li>
                    {%else%}
                    {%if page_num == "..."%}
                    <li ><span>{{page_num}}</span></li>
                    {%else%}
                        <li><a href="?page={{page_num}}">{{page_num}}</a></li>
                    {%endif%}
                    {%endif%}
                    {%endfor%}

                    <li>
                        {% if page_of_blogs.has_next %}
                        <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        {% else %}
                        <span aria-hidden="true">&raquo;</span>
                        {%endif%}
                    </li>
                </ul>
            </div>
        </div>

        <div class="hidden-xs col-sm-4 col-md-3 col-lg-2"><!--博客分类-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>博客分类</h4>
                </div>
                <div class="panel-body">
                    <ul class="blog_types">
                        {%for blog_type in blog_types%}

                        <li><a href="{%url 'blogs_with_type' blog_type.pk%}">{{blog_type.type_name}}({{blog_type.blog_count}})</a></li>
                        {% empty %}
                        <li>暂无分类</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>日期归档</h4>
                </div>
                <div class="panel-body">
                    <ul class="blog_datess">
                        {%for blog_date,blog_count in blog_dates.items %}

                        <li><a href="{%url 'blogs_with_date' blog_date.year blog_date.month%}">{{blog_date|date:"Y年m月"}}({{blog_count}})</a></li>
                        {% empty %}
                        <li>暂无分类</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
          <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>友情链接</h4>
                </div>
                <div class="panel-body">
                    <ul class="blog_datess">

                        <li><a href="https://blog.csdn.net/sdauguanweihong">我的csdn博客</a></li>
                         <li><a href="https://www.yuheng.tech/">最可爱的于衡</a></li>
                        <li><a href="https://me.csdn.net/sdz20172133">端正大佬</a></li>
                         <li><a href="https://blog.csdn.net/u011815404">炜哥</a></li>
                         <li><a href="https://blog.csdn.net/wentong_Xu">徐老爷</a></li>
                        <li><a href="https://blog.csdn.net/lanshan1111">计算机最帅的人</a></li>
                        <li><a href="https://blog.csdn.net/qq_41661919">俊杰大佬</a></li>
                        <li><a href="http://bycore.net/">死胖子</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{%endblock%}
