 ul.blog_types
{list-style-type:none;
}
ul.blog_datess
{list-style-type:none;
}
div.blog h3
{margin-top:0.5em
}
div.blog:not(:last-child)
{margin-bottom: 2em;
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
    }
div.blog p.blog_info
 {margin-bottom:0;
 }
ul.blog_info_description
{list-style-type:none;
margin-bottom:1em;
}
ul.blog_info_description li
{
display:inline-block;
margin-right:1em;
}
div.blog_content
{text-indent:2em;
font-family黑体;

}
div.page
{text-align:center;
}
div.blog_more
{margin-top:1em;

}
div.comment-area
{margin-top:2em;
}
div.comment-area2
{margin-bottom:2em;
margin-top:2em;
}
h3.comment-area-title
{border-bottom:1px solid #ccc;
padding-bottom:0.4em;
}

div.django-ckeditor-widget
{width:100%;
}
div.comment
{border-bottom:1px dashed #ccc;
margin-bottom:0.5em;
padding-bottom:0.5;
}
div.reply
{margin-left:2em;
}
div#reply_content_container
{
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0 0.5em;
}
p#reply_title
{border-bottom: 1px dashed #ccc;
padding-bottom:0.5em;
}

