<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--适应IE-->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--响应式布局-->
   <title>{%block title%}{%endblock%}</title>
{%block head_extend%}

    {% endblock %}
    <link rel="stylesheet" href="/static/base.css">
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
(function($){
    $.fn.snow = function(options){
    var $flake = $('<div id="snowbox" />').css({'position': 'absolute','z-index':'9999', 'top': '-50px'}).html('&#10052;'),
    documentHeight     = $(document).height(),
    documentWidth    = $(document).width(),
    defaults = {
        minSize        : 10,
        maxSize        : 20,
        newOn        : 1000,
        flakeColor    : "#AFDAEF" /* 此处可以定义雪花颜色，若要白色可以改为#FFFFFF */
    },
    options    = $.extend({}, defaults, options);
    var interval= setInterval( function(){
    var startPositionLeft = Math.random() * documentWidth - 100,
    startOpacity = 0.5 + Math.random(),
    sizeFlake = options.minSize + Math.random() * options.maxSize,
    endPositionTop = documentHeight - 200,
    endPositionLeft = startPositionLeft - 500 + Math.random() * 500,
    durationFall = documentHeight * 10 + Math.random() * 5000;
    $flake.clone().appendTo('body').css({
        left: startPositionLeft,
        opacity: startOpacity,
        'font-size': sizeFlake,
        color: options.flakeColor
    }).animate({
        top: endPositionTop,
        left: endPositionLeft,
        opacity: 0.2
    },durationFall,'linear',function(){
        $(this).remove()
    });
    }, options.newOn);
    };
})(jQuery);
$(function(){
    $.fn.snow({
        minSize: 5, /* 定义雪花最小尺寸 */
        maxSize: 50,/* 定义雪花最大尺寸 */
        newOn: 300  /* 定义密集程度，数字越小越密集 */
    });
});
</script>

</head>

<body>



        {%block content%}
        {%endblock%}
 <div class="navbar navbar-default navbar-fixed-top" role="navigation"><!--导航栏 固定在顶部-->

    <div class="container-fluid"><!--充满全局-->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">个人博客网站</a>
            <button  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><!--适应宽度可折叠-->
        <span class="icon-bar"></span><!--对应图标-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse" >
        <ul class="nav navbar-nav">
            <li class="{%block nav_home_active%}{%endblock%}">
                <a href="/">首页</a></li>
            <li class="{%block nav_blog_active%}{%endblock%}">
                <a href="{% url 'blog_list' %}">博客</a></li>
        </ul>
            <p class="navbar-text">面朝大海春暖花开</p>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}



        <li> <a  href="{%url 'login'%}?from={{ request.get_full_path }}">登录</a></li>
                <li><a  href="{%url 'register'%}?from={{ request.get_full_path }}">注册</a></li>
                {%else%}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {%if user.has_nickname%}
              {{user.username}}({{user.get_nickname}})
              {%else%}
              {{user.username}}
              {%endif%}
              <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{%url 'user_info' %}">个人资料</a></li>
              <li><a href="{% url 'change_password' %}">修改密码</a></li>
{% if user.is_staff or user.is_superuser%}
            <li><a href="{%url 'admin:index' %}">后台管理</a></li>
              {%endif%}
            <li><a href="{%url 'logout'%}?from={{ request.get_full_path }}">注销</a></li>

          </ul>
        </li>
                {%endif%}
                <li>
                 <form class="navbar-form search-form" action="{%url 'search'%}">
        <div class="form-group">
          <input type="text" name="wd" class="form-control" placeholder="查找">
        </div>
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
        </button>
      </form>
      </li>
      </ul>
        </div>
    </div>
</div>
     <div class="footer">
        <div class="website-info">
            <a href="http://www.beian.miit.gov.cn/">鲁ICP备19064149号-1</a>
            <p>Copyright©2019 guanweihong.ren 版权所有管伟鸿</p>
        </div>


{%block script_extends %}{% endblock %}


</body>
</html>